.ui-pc-shutdown {

    &__body {
        animation: 5s 1 win95-shutdown;
        background: black;
    }
}

@keyframes win95-shutdown {
    0% {
        background: black;
        background-image: none;
        background-position: center;
    }

    80% {
        background-image: url(../images/themes/win95/shutdown.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    100% {
        background-image: url(../images/themes/win95/shutdown.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
