button {
    background: linear-gradient(to bottom, #f0f0f0 0%, #e5e5e5 100%);
    border: 1px solid #acacac;
    border-radius: 0;
    color: #000;
    min-height: 21px;
    min-width: 75px;
    padding: 0 12px;
    position: relative;
    text-align: center;
    transition: border-color, background-color 1s ease-in-out;
    z-index: 0;

    &:hover {
        background: linear-gradient(to bottom, #ecf4fc 0%, #dcecfc 100%);
        border-color: #7eb4ea;
    }

    &:focus {
        outline: 1px dotted #000;
        outline-offset: -4px;
        border-color: #569de5;
    }

    &:active {
        background: linear-gradient(to bottom, #daecfc 0%, #c4e0fc 100%);
        border-color: #569de5;
    }

    &:disabled {
        background: #efefef;
        border-color: #d9d9d9;
        color: #8e9ab7;
    }

    &.default {
        border: 1px solid #3399ff;
    }
}
