input {

    &[type=checkbox] {

        &:not([disabled]) {

            &:not(:active) {

                +label {

                    &:hover {

                        &:before {
                            background: #f3f9ff;
                            border-color: #3399ff;
                        }
                    }
                }
            }
        }

        &:checked {

            +label {

                &:after {
                    color: #000;
                    content: "\2714";
                    display: block;
                    font-weight: 700;
                    left: 3px;
                    position: absolute;
                    top: 0;
                }
            }
        }

        &:focus {

            +label {
                // outline: 1px dotted #000;
            }
        }

        &:focus-visible {

            +label {
                outline: 1px dotted #000;
            }
        }

        &:active {

            +label {
                
                &:before {
                    background: #d9ecff;
                    border-color: #007cde;
                }
            }
        }

        &:disabled {

            +label {
                color: #8e9ab7;

                &:before {
                    background: #efefef;
                    border-color: #d9d9d9;
                }

                &:after {
                    color: #bbb;
                }
            }
        }

        +label {
            align-items: center;
            display: inline-flex;
            font: 9pt Segoe UI, SegoeUI, Noto Sans, sans-serif;
            margin-left: 0;
            position: relative;

            &:before {
                background: #fff;
                border: 1px solid #707070;
                content: "";
                display: inline-block;
                height: 13px;
                margin-right: 6px;
                transition: .4s;
                width: 13px;
            }
        }
    }
}
