input {

    &[type=text],
    &[type=number],
    &[type=password] {
        background-color: #fff;
        border: 1px solid #abadb3;
        font: 9pt Segoe UI, SegoeUI, Noto Sans, sans-serif;
        padding: 1px 4px 1px;

        &:disabled,
        &:read-only {
            background-color: #f0f0f0;
            color: -internal-light-dark(graytext, rgb(170, 170, 170));
        }

        &:focus {
            border-color: #abadb3;
        }
    }
}
