@mixin ul-style {
    background: #f0f0f0;
    border: 1px solid #979797;
}

@mixin vertical-divider {
    &:before {
        background: #d7d7d7;
        width: 1px;
    }
}

@mixin item-hover {
    background: #d1e2f2;
    border-color: #78aee5;
}

.ui-menu {
    @include ul-style;
    @include vertical-divider;

    ul[role=menu] {
        @include ul-style;
        @include vertical-divider;
    }

    [role=menuitem] {

        &.has-divider {

            &:after {
                background: #d7d7d7;
                height: 1px;
            }
        }

        &[aria-haspopup=true] {

            &:hover {
                @include item-hover;
            }
        }

        >a {

            &:hover {
                @include item-hover;
            }
        }

        >input[type] {

            &[type=checkbox] {

                &:checked {

                    +label {

                        &:after {
                            color: #202020;
                        }
                    }
                }
            }

            &[type=radio] {

                &:checked {

                    +label {

                        &:after {
                            background: #202020;
                            border-radius: 50%;
                            box-shadow: none;
                        }
                    }
                }
            }

            +label {

                &:hover {
                    @include item-hover;
                }

                &:before {
                    background: #c0ddeb !important;
                    border: 1px solid #26a0da;
                    box-shadow: none !important;
                }
            }
        }
    }
}