select {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGAQMAAAA1wBY1AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFYGBgAAAAD4c22wAAAAJ0Uk5T/wDltzBKAAAAFElEQVR4nGOoYbBgEGBoYjjG8A4ADZIC+768MTYAAAAASUVORK5CYII="), linear-gradient(to bottom, #f0f0f0 0%, #e5e5e5 100%);
    background-position: 98%;
    background-repeat: no-repeat;
    border: 1px solid #acacac;
    color: #000;
    font: 9pt Segoe UI,SegoeUI,Noto Sans,sans-serif;
    padding: 1px 30px 2px 3px;
    position: relative;

    &:hover {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGAQMAAAA1wBY1AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFYGBgAAAAD4c22wAAAAJ0Uk5T/wDltzBKAAAAFElEQVR4nGOoYbBgEGBoYjjG8A4ADZIC+768MTYAAAAASUVORK5CYII="), linear-gradient(to bottom, #ecf4fc 0%, #dcecfc 100%);
        border-color: #7eb4ea;
    }

    &:active {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAGAQMAAAA1wBY1AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAZQTFRFYGBgAAAAD4c22wAAAAJ0Uk5T/wDltzBKAAAAFElEQVR4nGOoYbBgEGBoYjjG8A4ADZIC+768MTYAAAAASUVORK5CYII="), linear-gradient(to bottom, #daecfc 0%, #c4e0fc 100%);
        border-color: #569de5;
    }

    &:disabled {
        background: #efefef;
        border-color: #d9d9d9;
    }
}
