body {

    &[data-show-pc-loading=false] {

        .ui-os-loading {
            &__wrapper {
                animation-play-state: running;
            }
        }
    }

    &[data-show-os-loading=false] {

        .ui-os-loading {
            display: none;
        }
    }
}

.ui-os-loading {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    cursor: none;
    background-color: black;
    z-index: 10800;

    &__wrapper {
        pointer-events: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

        animation-duration: 15s;
        animation-iteration-count: 1;
        animation-name: ui-os-loading;
        // animation-timing-function: steps(1);
        animation-play-state: paused;
    }

    &__icon {
        padding-bottom: 175px;

        >svg {
            width: 125px;
            height: 125px;
        }
    }

    &__spinner {}
}

@keyframes ui-os-loading {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}