$pc-loading-bg-color: #091016;
$pc-loading-text-color: #adadad;

body {

    &[data-show-pc-loading=false] {

        .ui-pc-loading {
            display: none;
        }
    }
}

.ui-pc-loading {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    color: $pc-loading-text-color;
    cursor: none;
    background-color: $pc-loading-bg-color;
    z-index: 10900;

    &__wrapper {
        pointer-events: none;
        padding: 30px;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &__image {
            width: 150px;
            height: 150px;
            background-image: url(../images/pc-loading.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }

        &__text {
            font-size: 44px;
            color: white;
            padding-left: 30px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        // padding-top: 30px;
        overflow: hidden;

        animation-duration: 10s;
        animation-iteration-count: 1;
        animation-name: ui-pc-loading-print;
        animation-timing-function: steps(1);
        animation-play-state: running;
    }
}

@keyframes ui-pc-loading-print {
    0% {
        height: 0;
    }

    3% {
        height: calc(21px * 4);
    }

    20% {
        height: calc(21px * 7);
    }

    50% {
        height: calc(21px * 12);
    }

    60% {
        height: 378px;
    }

    100% {
        height: 378px;
    }
}