.b-clock {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    height: 100%;
    padding: var(--taskbar-block-padding);

    &__wrapper {
        
    }

    &__time {

    }

    &__date {

    }
}
