.b-taskbar-icons {
    align-items: center;
    gap: 2px;

    &__item {
        background: linear-gradient(to top, rgba(21,22,24,.9) 0%, rgba(27,28,30,.9) 49%, rgba(73,74,76,.9) 50%, rgba(135,142,135,.9) 95%, rgba(184,178,180,.9) 96%, rgba(184,178,180,.9) 99%, rgba(27,28,30,.9) 100%);

        &[data-active=true] {
            background: linear-gradient(to bottom, rgba(54,59,58,.9) 0%, rgba(42,47,40,.9) 49%, rgba(20,25,17,.9) 50%, rgba(0,3,0,.9) 100%);
            box-shadow: inset 0 0 1px rgba(0, 0, 0, 1);

            &:hover {
                
            }
        }

        &[data-closed=true] {
            display: none;
        }

        &:hover {
            filter: brightness(1.05);
        }

        &:active {

            >svg {
                transform: none;
            }
        }

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            background-image: linear-gradient(to top, #add8e611, #fff);
            opacity: 0.3;
            box-shadow: 0px 0px 10px #000;
            z-index: -1;
        }

        &:after {
            display: none;
            content: "";
        }

        &.b-taskbar-icons__item--sticky {
            display: none;

            &[data-sticky=true] {
                align-items: center;
                background: none;
                border: none;
                box-shadow: none;
                display: flex;
                min-width: 10px;
                justify-content: center;

                &:before {
                    display: none;
                }

                >svg {
                    margin-right: 0;
                }
            }
        }

        >svg {
            margin-right: 5px;
        }

        &__title {
            position: static;
            bottom: 0;
            width: 116px;
            font-size: 11px;
            padding: 0;
            background-color: transparent;
            border: none;
            border-radius: 0;
            transform: none;
            transition: none;
            opacity: 1;
        }
    }
    
    > .b-taskbar-icons__item--menu {
        margin-left: 5px;

        &:first-of-type {
            position: relative;
            width: 40px;
            height: 40px;
            padding: 0;
            border: none;
            border-radius: 0;
            background: none;
            filter: contrast(1.2);
            z-index: 50;

            &:hover {
                filter: contrast(1) brightness(1.25);
            }

            >svg {
                width: 40px;
                height: 40px;
            }
        }
    }
}