@mixin ul-style {
    background: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, .4);
}

@mixin vertical-divider {
    &:before {
        box-shadow: inset 1px 0 rgba(0, 0, 0, .15), inset -1px 0 #fff;
        width: 2px;
    }
}

@mixin item-hover {
    background: linear-gradient(180deg, #fff9, #e6ecf5cc 90%, #fffc);
    border-color: #b8d6fb;
}

.ui-menu {
    @include ul-style;
    @include vertical-divider;

    ul[role=menu] {
        @include ul-style;
        @include vertical-divider;
    }

    [role=menuitem] {

        &.has-divider {

            &:after {
                box-shadow: inset 0 1px #00000026, inset 0 -1px #fff;
                height: 2px;
            }
        }

        &[aria-haspopup=true] {

            &:hover {
                @include item-hover;
            }
        }

        >a {

            &:hover {
                @include item-hover;
            }
        }

        >input[type] {

            &[type=checkbox] {

                &:checked {

                    +label {

                        &:after {
                            color: #0c12a1;
                        }
                    }
                }
            }

            &[type=radio] {

                &:checked {

                    +label {

                        &:after {
                            background: radial-gradient(circle at 75% 25%, #d5d4ea, #333583);
                            border: 1px solid #1a1490;
                            box-shadow: none;
                        }
                    }
                }
            }

            +label {

                &:hover {
                    @include item-hover;
                }

                &:before {
                    background: linear-gradient(180deg, #fff9, #e6ecf5cc 90%, #fffc) !important;
                    box-shadow: none !important;
                }
            }
        }
    }
}
