fieldset {
    margin: 0;
    padding: 10px;
    padding-block-start: 8px;
    padding-top: 10px;
    border: 1px solid #d0d0bf;
    border-radius: 4px;
    background: #fff;
    box-shadow: none;
}

legend {
    background: transparent;
    color: #0046d5;
}
