<div class="ui-pc-shutdown js-pc-shutdown">
    <div class="ui-pc-shutdown__wrapper">
        <div class="ui-pc-shutdown__body">
            <div class="ui-pc-shutdown__icon"></div>
            <div class="ui-pc-shutdown__preloader">
                <div class='ui-loader'>
                    <div class='ui-loader__circle'></div>
                    <div class='ui-loader__circle'></div>
                    <div class='ui-loader__circle'></div>
                    <div class='ui-loader__circle'></div>
                    <div class='ui-loader__circle'></div>
                  </div>
            </div>
            <div class="ui-pc-shutdown__text js-pc-shutdown-text">Завершение работы</div>
        </div>
    </div>
</div>
