@mixin ul-style {
    background: #f0f0f0;
    border: 1px solid #979797;
    box-shadow: 4px 4px 3px -2px rgba(0, 0, 0, .5);
    color: initial;
    min-width: 150px;
    padding: 2px;
    position: relative;
}

@mixin vertical-divider {
    &:before {
        background: #d7d7d7;
        content: "";
        height: calc(100% - 4px);
        left: 30px;
        pointer-events: none;
        position: absolute;
        width: 1px;
    }
}

@mixin item-hover {
    background: #d1e2f2;
    border-color: #78aee5;
}

.ui-menu {
    cursor: default;
    list-style: none;
    margin: 0;
    @include ul-style;
    @include vertical-divider;

    ul[role] {
        cursor: default;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul[role=menu] {
        @include ul-style;
        @include vertical-divider;
    }

    [role=menuitem] {
        position: relative;

        &.has-divider {

            &:after {
                background: #d7d7d7;
                content: "";
                display: block;
                height: 1px;
                margin: 3px 0 2px 30px;
                pointer-events: none;
            }
        }

        &[aria-disabled] {
            opacity: .5;
            pointer-events: none;
        }

        &[aria-haspopup=true] {
            all: unset;
            border: 1px solid transparent;
            border-radius: 3px;
            display: flex;
            justify-content: space-between;
            padding: 4px 10px 4px 32px;
            position: relative;
            white-space: nowrap;

            &:hover {
                @include item-hover;

                >[role=menu] {
                    display: block;
                }
            }

            &:after {
                border: 4px solid transparent;
                border-left-color: currentcolor;
                content: "";
                position: absolute;
                right: 2px;
                top: 50%;
                transform: translateY(-50%);
            }

            >[role=menu] {
                left: 100%;
                top: -4px;
            }
        }

        >svg {
            left: 2px;
            pointer-events: none;
            position: absolute;
            height: 18px;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            z-index: 1;
        }

        >a {
            all: unset;
            border: 1px solid transparent;
            border-radius: 3px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            padding: 4px 10px 4px 32px;
            position: relative;
            white-space: nowrap;
            width: 100%;

            &:hover {
                @include item-hover;
            }
        }

        ul[role=menu] {
            display: none;
            left: 0;
            position: absolute;
            top: 100%;
            z-index: 99;
        }

        >input[type] {
            display: none;

            &[type=checkbox] {

                &:checked {

                    +label {

                        &:after {
                            color: #202020;
                            font-size: 10pt;
                            left: 6px;
                            top: 50%;
                            transform: translateY(-52%);
                        }
                    }
                }
            }

            &[type=radio] {

                &:checked {

                    +label {

                        &:after {
                            background: #202020;
                            border-radius: 50%;
                            box-shadow: none;
                            left: 8px;
                            top: 50%;
                            width: 6px;
                            height: 6px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }

            &:checked {

                +label {

                    &:before {
                        content: "";
                    }
                }
            }

            +label {
                all: unset;
                border: 1px solid transparent;
                border-radius: 3px;
                display: block;
                padding: 4px 10px 4px 32px;
                position: relative;
                white-space: nowrap;

                &:hover {
                    @include item-hover;
                }

                &:before {
                    all: unset;
                    background: #c0ddeb !important;
                    border: 1px solid #26a0da;
                    content: none;
                    height: 22px;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 22px;
                }
            }
        }

        ul[role=menu] {
            display: none;
            left: 0;
            position: absolute;
            top: 100%;
            z-index: 99;
        }
    }
}
