<div class="ui-os-lock js-os-lock" data-show-form="false">
    <div class="ui-os-lock__wrapper js-os-lock-show-form">
        <div class="ui-os-lock__pause">
            <div class="ui-os-lock__clock js-os-lock-clock-time">{{time}}</div>
            <div class="ui-os-lock__date js-os-lock-clock-date">{{date}}</div>
        </div>
        <div class="ui-os-lock__form">
            <div class="ui-os-lock__form__icon">
                <svg>
                    <use xlink:href="#icon-profil"></use>
                </svg>
            </div>
            <div class="ui-os-lock__form__name">{{name}}</div>
            <div class="ui-os-lock__form__button"><div class="ui-os-lock__form__btn js-os-lock-signin">Войти</div></div>
        </div>
    </div>
</div>
