<div class="ui-os-loading js-os-loading">
    <div class="ui-os-loading__wrapper">

        <div class="ui-os-loading__top"></div>
        <div class="ui-os-loading__icon">
            <svg>
                <use xlink:href="#icon-taskbar-menu"></use>
            </svg>
        </div>
        <div class="ui-os-loading__preloader">
            <div class='ui-os-loading__preloader__wrapper'>
                <div class='ui-os-loading__preloader__circle'></div>
                <div class='ui-os-loading__preloader__circle'></div>
                <div class='ui-os-loading__preloader__circle'></div>
                <div class='ui-os-loading__preloader__circle'></div>
                <div class='ui-os-loading__preloader__circle'></div>
              </div>
        </div>

    </div>
</div>
