<div class="ui-os-lock js-os-lock">
    <div class="ui-os-lock__wrapper js-os-lock-show-form">

        <div class="ui-os-lock__top"></div>
        <div class="ui-os-lock__account js-os-lock-signin">
            <svg>
                <use xlink:href="#profil"></use>
            </svg>
            <div class="ui-os-lock__account__name">{{name}}</div>
        </div>
        <div class="ui-os-lock__bottom">
            <div class="ui-os-lock__bottom__restart js-app-restart"></div>
            <div class="ui-os-lock__bottom__shutdown js-app-shutdown"></div>
        </div>

    </div>
</div>