<div class="ui-pc-shutdown js-pc-shutdown">
    <div class="ui-pc-shutdown__wrapper">

        <div class="ui-pc-shutdown__middle">
            <div class="ui-pc-shutdown__preloader">
                <div class='ui-pc-shutdown__preloader__wrapper'>
                    <div class='ui-pc-shutdown__preloader__circle'></div>
                    <div class='ui-pc-shutdown__preloader__circle'></div>
                    <div class='ui-pc-shutdown__preloader__circle'></div>
                    <div class='ui-pc-shutdown__preloader__circle'></div>
                    <div class='ui-pc-shutdown__preloader__circle'></div>
                </div>
            </div>
            <div class="ui-pc-shutdown__middle__text">
                {{#customText}}{{customText}}{{/customText}}{{^customText}}Завершение работы{{/customText}}
            </div>
        </div>

    </div>
</div>
