<div class="ui-pc-shutdown js-os-loading">
    <div class="ui-pc-shutdown__wrapper">

        <div class="ui-pc-shutdown__body">

            <div class="ui-pc-shutdown__logo">
                <div class="ui-pc-shutdown__logo__middle">
                    <div class="ui-pc-shutdown__logo__icon"></div>
                </div>
                <div class="ui-pc-shutdown__logo__bottom">
                    <div class="ui-pc-shutdown__logo__bottom__line-one">Microsoft</div>
                    <div class="ui-pc-shutdown__logo__bottom__line-two">
                        <span>Windows</span><span>98</span>
                    </div>
                    <div class="ui-pc-shutdown__logo__bottom__line-three">Windows is shutting down.</div>
                </div>
            </div>

        </div>

    </div>
</div>
