<div class="ui-os-lock js-os-lock">
    <div class="ui-os-lock__wrapper js-os-lock-show-form">
            
        <div class="ui-window" data-closed="false" data-maximize="true" data-fullsize="false" data-focus="true">
            <div class="ui-window__wrapper">
                <div class="ui-window__toolbar">
                    <div class="ui-window__toolbar__name">
                        <div class="ui-window__toolbar__title">Добро пожаловать в Windows</div>
                    </div>
                    <div class="ui-window__toolbar__buttons"></div>
                </div>
                <div class="ui-window__body js-windows-body">
                    <div class="ui-window__body__wrapper">
                        <div class="js-windows-body-render">

                            <div class="ui-os-lock__form">
                                <div class="ui-os-lock__form__row">
                                    <div class="ui-os-lock__form__col">
                                        <div class="ui-os-lock__form__icon"></div>
                                    </div>
                                    <div class="ui-os-lock__form__col">
                                        <div class="ui-os-lock__form__text">Введите имя пользователя и пароль для входа в Windows</div>
                                        <div class="ui-os-lock__form__group">
                                            <div class="ui-os-lock__form__label">Имя</div>
                                            <input type="text" name="" value="{{name}}"/>
                                        </div>
                                        <div class="ui-os-lock__form__group">
                                            <div class="ui-os-lock__form__label">Пароль</div>
                                            <input type="text" name="" value="" disabled />
                                        </div>
                                    </div>
                                    <div class="ui-os-lock__form__col">
                                        <button class="js-os-lock-signin">ОК</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
            

    </div>
</div>
