.b-taskbar-icons {
    display: flex;
    justify-content: center;
    gap: 8px;

    &__item {
        display: flex;
        width: var(--taskbar-item-width);

        &:hover {

            .b-taskbar-icons {
                &__item {
                    &__title {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }

        &:active {
            &>svg {
                transform: scale(0.7);
            }
        }

        &[data-closed=false] {
            display: flex;
            
            &:after {
                width: 6px;
            }
        }

        &[data-active=true] {
            display: flex;

            &:after {
                width: 12px;
                background: #4cc2ff;
            }
        }

        &:after {
            position: absolute;
            display: block;
            bottom: 2px;
            content: "";
            width: 0;
            height: 3px;
            border-radius: 4px;
            background: #858585;
            transition: all .2s ease-in-out;
        }

        &__title {
            border-radius: 3px;
            background-color: rgba(0, 0, 68, 0.623);
            bottom: calc(100% + 10px);
            font-size: 0.9em;
            opacity: 0;
            padding: 3px 8px;
            pointer-events: none;
            position: absolute;
            text-align: center;
            transform: translateY(-5px);
            transition-duration: .5s;
        }

        &>svg {
            width: var(--taskbar-item-icon-width);
            height: var(--taskbar-item-icon-height);
            transition-duration: .3s;
        }
    }
}
