<div class="ui-os-lock js-os-lock">
    <div class="ui-os-lock__wrapper js-os-lock-show-form">
            
        <div class="ui-os-lock__account">
            <div class="ui-os-lock__account__wrapper js-os-lock-signin">
                <div class="ui-os-lock__account__icon">
                    <svg>
                        <use xlink:href="#profil"></use>
                    </svg>
                </div>
            </div>
            <div class="ui-os-lock__account__name">{{name}}</div>
        </div>

    </div>
</div>
