body {
    height: var(--max-height);
    width: var(--max-width);
    min-width: var(--min-width);
    min-height: var(--min-height);
    color: white;
    margin: 0;
    padding: 0;
    background: var(--desktop-bg);
    overflow: hidden;

    &[data-off=true] {
        background-image: none;
        background-color: black;

        .app {
            visibility: hidden;
        }
    }
}
