<div class="c-mainmenu-winxp js-mainmenu js-mainmenu-render" data-close-when-shutdown-open="true">
    <div class="c-mainmenu-winxp__wrapper">

        <div class="c-mainmenu-winxp__header">
            <div class="c-mainmenu-winxp__header__image">
                <svg>
                    <use xlink:href="#profile"></use>
                </svg>
            </div>
            <div class="c-mainmenu-winxp__header__name">{{name}}</div>
        </div>

        <div class="c-mainmenu-winxp__middle">
            <div class="c-mainmenu-winxp__middle__top-line"></div>
            <div class="c-mainmenu-winxp__middle__left">
                <div class="c-mainmenu-winxp__menu__item c-mainmenu-winxp__menu__item--big">
                    <svg>
                        <use xlink:href="#icon-internet"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__name">
                        <div class="c-mainmenu-winxp__menu__item__title">Internet</div>
                        <div class="c-mainmenu-winxp__menu__item__description">Internet Explorer</div>
                    </div>
                </div>
                <div class="c-mainmenu-winxp__menu__fill"></div>
                <div class="c-mainmenu-winxp__menu__separator"></div>
                <div class="c-mainmenu-winxp__menu__item c-mainmenu-winxp__menu__item--all-program">
                    <div class="c-mainmenu-winxp__menu__item__title">Все программы</div>
                    <svg>
                        <use xlink:href="#mainmenu-all-programs"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__submenu">
                        <div class="c-mainmenu-winxp__submenu__items">
                            {{#programs.rows}}
                            <div class="c-mainmenu-winxp__submenu__item js-program-open" data-program-name="{{name}}">
                                <div class="c-mainmenu-winxp__submenu__item__icon">
                                    {{{iconData}}}
                                </div>
                                <div class="c-mainmenu-winxp__submenu__item__label">{{title}}</div>
                            </div>
                            {{/programs.rows}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-mainmenu-winxp__middle__right">
                <div class="c-mainmenu-winxp__menu__separator"></div>
                <div class="c-mainmenu-winxp__menu__item">
                    <svg>
                        <use xlink:href="#mainmenu-help"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__title">Справка</div>
                </div>
                <div class="c-mainmenu-winxp__menu__item">
                    <svg>
                        <use xlink:href="#mainmenu-search"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__title">Поиск</div>
                </div>
                <div class="c-mainmenu-winxp__menu__item">
                    <svg>
                        <use xlink:href="#mainmenu-run"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__title">Выполнить</div>
                </div>
            </div>
        </div>

        <div class="c-mainmenu-winxp__footer">
            <div class="c-mainmenu-winxp__footer__item js-app-lock">
                <svg>
                    <use xlink:href="#icon-logoff"></use>
                </svg>
                <span>Выйти</span>
            </div>
            <div class="c-mainmenu-winxp__footer__item js-mainmenu-shutdown-toggle">
                <svg>
                    <use xlink:href="#icon-shutdown"></use>
                </svg>
                <span>Завершить работу</span>
            </div>
        </div>

    </div>
</div>

<div class="c-mainmenu-winxp__shutdown">
    <div class="c-mainmenu-winxp__shutdown__overlay"></div>
    <div class="ui-window c-mainmenu-winxp__shutdown__menu js-mainmenu-shutdown" data-closed="false"
        data-maximize="true" data-fullsize="false" data-focus="true" style="width:310px;height:auto;"
        data-close-by-outside-click="false">
        <div class="ui-window__wrapper">
            <div class="ui-window__toolbar">
                <div class="ui-window__toolbar__name">
                    <div class="ui-window__toolbar__title">Завершение работы</div>
                </div>
                <div class="ui-window__toolbar__buttons">
                    <button
                        class="ui-window__toolbar__btn ui-window__toolbar__btn--close js-mainmenu-shutdown-toggle"></button>
                </div>
            </div>
            <div class="ui-window__body js-windows-body">
                <div class="ui-window__body__wrapper">

                    <div class="c-mainmenu-winxp__shutdown__form">
                        <div class="c-mainmenu-winxp__shutdown__form__column">
                            <div class="c-mainmenu-winxp__shutdown__form__icon">
                                <svg>
                                    <use xlink:href="#mainmenu-shutdown-window"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="c-mainmenu-winxp__shutdown__form__column">
                            <div class="c-mainmenu-winxp__shutdown__form__text">Выберите действие из списка:</div>
                            {{#shutdown.rows}}
                            <div class="c-mainmenu-winxp__shutdown__form__option">
                                <input name="shut-down-option" type="radio" id="shutdown-variant-{{id}}" class="c-mainmenu-winxp__shutdown__variant--{{id}}"{{#default}} checked {{/default}}>
                                <label for="shutdown-variant-{{id}}">{{label}}</label>
                            </div>
                            {{/shutdown.rows}}
                        </div>
                    </div>
                    <div class="c-mainmenu-winxp__shutdown__form__buttons">
                        {{#shutdown.rows}}
                        <button class="c-mainmenu-winxp__shutdown__button c-mainmenu-winxp__shutdown__btn--{{id}} {{actionClass}}">Ок</button>
                        {{/shutdown.rows}}
                        <button class="js-mainmenu-shutdown-toggle">Отмена</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
