<div class="c-mainmenu-winxp js-mainmenu js-mainmenu-render" data-close-when-shutdown-open="true">
    <div class="c-mainmenu-winxp__wrapper">

        <div class="c-mainmenu-winxp__header">
            <div class="c-mainmenu-winxp__header__image">
                <svg>
                    <use xlink:href="#profile"></use>
                </svg>
            </div>
            <div class="c-mainmenu-winxp__header__name">{{name}}</div>
        </div>

        <div class="c-mainmenu-winxp__middle">
            <div class="c-mainmenu-winxp__middle__top-line"></div>
            <div class="c-mainmenu-winxp__middle__left">
                <div class="c-mainmenu-winxp__menu__item c-mainmenu-winxp__menu__item--big">
                    <svg>
                        <use xlink:href="#icon-internet"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__name">
                        <div class="c-mainmenu-winxp__menu__item__title">Internet</div>
                        <div class="c-mainmenu-winxp__menu__item__description">Internet Explorer</div>
                    </div>
                </div>
                <div class="c-mainmenu-winxp__menu__fill"></div>
                <div class="c-mainmenu-winxp__menu__separator"></div>
                <div class="c-mainmenu-winxp__menu__item c-mainmenu-winxp__menu__item--all-program">
                    <div class="c-mainmenu-winxp__menu__item__title">Все программы</div>
                    <svg>
                        <use xlink:href="#mainmenu-all-programs"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__submenu">
                        <div class="c-mainmenu-winxp__submenu__items">
                            {{#programs.rows}}
                            <div class="c-mainmenu-winxp__submenu__item js-program-open" data-program-name="{{name}}">
                                <div class="c-mainmenu-winxp__submenu__item__icon">
                                    {{{iconData}}}
                                </div>
                                <div class="c-mainmenu-winxp__submenu__item__label">{{title}}</div>
                            </div>
                            {{/programs.rows}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-mainmenu-winxp__middle__right">
                <div class="c-mainmenu-winxp__menu__item">
                    <svg>
                        <use xlink:href="#icon-my-documents"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__title">Мои документы</div>
                </div>
                <div class="c-mainmenu-winxp__menu__item">
                    <svg>
                        <use xlink:href="#icon-my-computer"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__title">Мой компьютер</div>
                </div>
                <div class="c-mainmenu-winxp__menu__separator"></div>
                <div class="c-mainmenu-winxp__menu__item js-program-open" data-program-name="settings">
                    <svg>
                        <use xlink:href="#icon-control-panel"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__title">Панель управления</div>
                </div>
                <div class="c-mainmenu-winxp__menu__item">
                    <svg>
                        <use xlink:href="#mainmenu-printers-and-faxes"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__title">Принтеры и факсы</div>
                </div>
                <div class="c-mainmenu-winxp__menu__separator"></div>
                <div class="c-mainmenu-winxp__menu__item js-program-open" data-program-name="help">
                    <svg>
                        <use xlink:href="#mainmenu-help"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__title">Справка</div>
                </div>
                <div class="c-mainmenu-winxp__menu__item">
                    <svg>
                        <use xlink:href="#mainmenu-search"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__title">Поиск</div>
                </div>
                <div class="c-mainmenu-winxp__menu__item">
                    <svg>
                        <use xlink:href="#mainmenu-run"></use>
                    </svg>
                    <div class="c-mainmenu-winxp__menu__item__title">Выполнить</div>
                </div>
            </div>
        </div>

        <div class="c-mainmenu-winxp__footer">
            <div class="c-mainmenu-winxp__footer__item js-app-lock">
                <svg>
                    <use xlink:href="#icon-shutdown-lock"></use>
                </svg>
                <span>Выйти</span>
            </div>
            <div class="c-mainmenu-winxp__footer__item js-mainmenu-shutdown-toggle">
                <svg>
                    <use xlink:href="#icon-shutdown-shutdown"></use>
                </svg>
                <span>Завершить работу</span>
            </div>
        </div>

    </div>
</div>

<div class="c-mainmenu-winxp__shutdown">
    <div class="c-mainmenu-winxp__shutdown__overlay"></div>
    <div class="ui-window c-mainmenu-winxp__shutdown__menu js-mainmenu-shutdown" data-closed="false"
        data-maximize="true" data-fullsize="false" data-focus="true" style="width:420px;height:auto;"
        data-close-by-outside-click="false">
        <div class="ui-window__wrapper">
            <div class="i-window c-mainmenu-winxp__shutdown__body ui-window__body js-windows-body">
                <div class="i-window c-mainmenu-winxp__shutdown__body__wrapper ui-window__body__wrapper">

                    <div class="c-mainmenu-winxp__shutdown__top">
                        <div class="c-mainmenu-winxp__shutdown__top__title">Завершение работы Windows</div>
                        <div class="c-mainmenu-winxp__shutdown__top__image">
                            <svg>
                                <use xlink:href="#xp-icon"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="c-mainmenu-winxp__shutdown__middle">
                        {{#shutdown.rows}}
                        <div
                            class="c-mainmenu-winxp__shutdown__option c-mainmenu-winxp__shutdown__option--{{id}} {{actionClass}}">
                            <div class="c-mainmenu-winxp__shutdown__option__image">
                                <svg>
                                    <use xlink:href="#icon-shutdown-{{id}}"></use>
                                </svg>
                            </div>
                            <div class="c-mainmenu-winxp__shutdown__option__title">{{label}}</div>
                        </div>
                        {{/shutdown.rows}}
                    </div>
                    <div class="c-mainmenu-winxp__shutdown__bottom">
                        <div class="c-mainmenu-winxp__shutdown__bottom__ext">
                            <input type="checkbox" name="shutdown_menu_show_additional"
                                id="shutdown_menu_show_additional">
                            <label for="shutdown_menu_show_additional">Показать доп варианты</label>
                        </div>
                        <button class="js-mainmenu-shutdown-toggle">Отмена</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>