<div class="ui-os-lock js-os-lock">
    <div class="ui-os-lock__wrapper js-os-lock-show-form">
            
        <div class="ui-os-lock__top"></div>
        <div class="ui-os-lock__middle">
            <div class="ui-os-lock__middle__left">
                <div class="ui-os-lock__icon">
                    <svg>
                        <use xlink:href="#xp-icon-with-text"></use>
                    </svg>
                </div>
                <div class="ui-os-lock__icon__text">Выберите пользователя нажав на его имя</div>
            </div>
            <div class="ui-os-lock__middle__right">
                <div class="ui-os-lock__account js-os-lock-signin">
                    <div class="ui-os-lock__account__image">
                        <svg>
                            <use xlink:href="#profile"></use>
                        </svg>
                    </div>
                    <div class="ui-os-lock__account__body">
                        <div class="ui-os-lock__account__name">{{name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui-os-lock__bottom">
            <div class="ui-os-lock__bottom__left">
                <div class="ui-os-lock__bottom__shutdown js-app-shutdown">
                    <svg>
                        <use xlink:href="#icon-shutdown-shutdown"></use>
                    </svg>
                    <span>Выключить компьютер</span>
                </div>
            </div>
            <div class="ui-os-lock__bottom__right">
                <div>После входа вы сможете добавить или изменить пользователей.</div>
                <div>Просто откройте панель управления и кликните по пользователям.</div>
            </div>
        </div>

    </div>
</div>
