$app-max-width: 100vw;
$app-max-height: 100vh;

$taskbar-height: 48px;
$taskbar-width: 100%;

$taskbar-item-width: 42px;
$taskbar-item-height: 42px;

$program-min-width: 640px;
$program-min-height: 480px;
$app-min-width: $program-min-width;
$app-min-height: ($program-min-height + $taskbar-height);

:root {
    --max-width: #{$app-max-width};
    --max-height: #{$app-max-height};
    --min-width: #{$app-min-width};
    --min-height: #{$app-min-height};

    --taskbar-width: #{$taskbar-width};
    --taskbar-height: #{$taskbar-height};

    --taskbar-item-width: #{$taskbar-item-width};
    --taskbar-item-height: #{$taskbar-item-height};

    --program-min-width: #{$program-min-width};
    --program-min-height: #{$program-min-height};
}
