<div class="ui-os-loading js-os-loading">
    <div class="ui-os-loading__wrapper">

        <div class="ui-os-loading_top"></div>

        <div class="ui-os-loading__logo">
            <div class="ui-os-loading__logo__top">Microsoft</div>
            <div class="ui-os-loading__logo__middle">
                <div class="ui-os-loading__logo__icon"></div>
            </div>
            <div class="ui-os-loading__logo__bottom">
                <div class="ui-os-loading__logo__bottom__line-one">Microsoft</div>
                <div class="ui-os-loading__logo__bottom__line-two">
                    <span>Windows</span> <span>95</span>
                </div>
                <div class="ui-os-loading__logo__bottom__line-three">Microsoft Internet Explorer</div>
            </div>
        </div>

        <div class="ui-os-loading__spinner"></div>

    </div>
</div>
