<div class="b-taskbar-icons">

    <div class="l-task-bar__block b-taskbar-icons__item js-mainmenu-toggle">
        <svg>
            <use xlink:href="#taskbar-menu"></use>
        </svg>
    </div>

    <div class="l-task-bar__block b-taskbar-icons__item">
        <div class="b-taskbar-icons__item__title">Поиск</div>
        <svg>
            <use xlink:href="#taskbar-search"></use>
        </svg>
    </div>
    
    {{#rows}}
    <div class="l-task-bar__block b-taskbar-icons__item js-program-open" data-program-name="{{name}}" data-sticky="{{sticky}}" data-closed="{{closed}}" data-active="{{active}}">
        <div class="b-taskbar-icons__item__title">{{title}}</div>
        {{{iconData}}}
    </div>
    {{/rows}}

</div>
